@charset "utf-8";
*{box-sizing: border-box;}
html, body{margin: 0;padding: 0;}
header, section, article, aside, nav, main, footer{display: block;}
header:after, section:after, article:after, aside:after, nav:after, main:after, footer:after{
    content: "";
    display: block;
    clear: both;
}
h1, h2, h3, h4, h5, h6, p{margin: 0;}
ul, ol{margin: 0;padding: 0;list-style: none;}
a{text-decoration: none;}
.clear{clear: both;}
/* ---------------------------------------------------- */
/* body{transition: background 0.5s;}

@media (max-width: 1000px){
    body{background: #aaffff;}
}
@media (max-width: 800px){
    body{background: #ffffaa;}
} */
/* ---------------------------------------------------- */
.ex_01{background: #bbbbbb;}
.ex_01 header{width: 100%;height: 80px;background: #aaffff;}

.ex_01 section{width: 100%;height: auto;background: #ffffaa;font-size: 0;padding-top: 20px;}
/* 
font-size: 0;을 준 이유
- html 문서에 display: inline-block;될 article 태그들이 줄바꿈되어 마크업되어있다
- display: inline-block;은 자동으로 오른쪽에 4~5px 여백이 생긴다
- 여백에 텍스트가 들어가지 못하도록 font-size: 0;를 선언한다(word에서 font-size: 0;이면 커서가 사라진다!)
*/
.ex_01 section article{
    width: calc(33.33% - 20px);
    height: 160px;
    margin: 0 10px 20px;
    display: inline-block;
    background: #ffaaaa;
    font-size: 16px;
    vertical-align: top;
    padding: 10px;
}
.ex_01 section article div{
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
    background: #0000ff;
}
.ex_01 footer{
    width: 100%;
    height: 80px;
    background: #555555;
}
@media (max-width: 767px){
    .ex_01 section article{
        width: calc(100% - 20px);
    }
}
/* ---------------------------------------------------- */
.ex_02{margin-top: 80px;}
.ex_02 header{
    width: 100%;
    height: 60px;
    background: #ffaaaa;
}
.ex_02 section{
    width: 100%;
    height: auto; /* 적층구조에서만 생략가능(absolute일 경우 제외) */
}
.ex_02 section .frame{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    background: #aaffff;
    font-size: 0;
    padding-top: 20px;
}
.ex_02 section .frame > div{
    display: inline-block;
    width: calc(50% - 20px);
    height: 100px;
    margin: 0 10px 20px;
    background: #ff6600;
    font-size: 16px;
    vertical-align: top;
}
.ex_02 section .frame > div h1{
    font-size: 40px;
}

.ex_02 section .banner{
    width: 100%;
    height: 120px;
    background: #ffffaa;
}
.ex_02 footer{
    width: 100%;
    height: 100px;
    background: #333333;
}
@media (max-width:1199px){
    .ex_02 section .frame{
        width: 100%;
    }
}
@media (max-width:767px){
    .ex_02 section .frame > div{
        width: calc(100% - 20px);
    }
}