@charset "utf-8";
*{box-sizing: border-box;}
html, body{margin: 0;padding: 0;}
header, section, article, aside, nav, main, footer{display: block;}
header:after, section:after, article:after, aside:after, nav:after, main:after, footer:after{
    content: "";
    display: block;
    clear: both;
}
h1, h2, h3, h4, h5, h6, p{margin: 0;}
ul, ol{margin: 0;padding: 0;list-style: none;}
a{text-decoration: none;}
.clear{clear: both;}
/* ---------------------------------------------------- */
/* body{transition: background 0.5s;}

@media (max-width: 1000px){
    body{background: #aaffff;}
}
@media (max-width: 800px){
    body{background: #ffffaa;}
} */
/* ---------------------------------------------------- */
.ex_01{background: #bbbbbb;}
.ex_01 header{width: 100%;height: 80px;background: #aaffff;}

.ex_01 section{width: 100%;height: auto;background: #ffffaa;font-size: 0;padding-top: 20px;}
/* 
font-size: 0;을 준 이유
- html 문서에 display: inline-block;될 article 태그들이 줄바꿈되어 마크업되어있다
- display: inline-block;은 자동으로 오른쪽에 4~5px 여백이 생긴다
- 여백에 텍스트가 들어가지 못하도록 font-size: 0;를 선언한다(word에서 font-size: 0;이면 커서가 사라진다!)
*/
.ex_01 section article{
    width: calc(33.33% - 20px);
    height: 160px;
    margin: 0 10px 20px;
    display: inline-block;
    background: #ffaaaa;
    font-size: 16px;
    vertical-align: top;
    padding: 10px;
}
.ex_01 section article div{
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
    background: #0000ff;
}
.ex_01 footer{
    width: 100%;
    height: 80px;
    background: #555555;
}
@media (max-width: 767px){
    .ex_01 section article{
        width: calc(100% - 20px);
    }
}
/* ---------------------------------------------------- */
.ex_02{margin-top: 80px;}
.ex_02 header{
    width: 100%;
    height: 60px;
    background: #ffaaaa;
}
.ex_02 section{
    width: 100%;
    height: auto; /* 적층구조에서만 생략가능(absolute일 경우 제외) */
}
.ex_02 section .frame{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    background: #aaffff;
    font-size: 0;
    padding-top: 20px;
}
.ex_02 section .frame > div{
    display: inline-block;
    width: calc(50% - 20px);
    height: 100px;
    margin: 0 10px 20px;
    background: #ff6600;
    font-size: 16px;
    vertical-align: top;
}
.ex_02 section .frame > div h1{
    font-size: 40px;
}

.ex_02 section .banner{
    width: 100%;
    height: 120px;
    background: #ffffaa;
}
.ex_02 footer{
    width: 100%;
    height: 100px;
    background: #333333;
}
@media (max-width:1199px){
    .ex_02 section .frame{
        width: 100%;
    }
}
@media (max-width:767px){
    .ex_02 section .frame > div{
        width: calc(100% - 20px);
    }
}
/* ---------------------------------------------------- */
 /* p[class^='c'] c로 시작하는 클래스명을 가진 p태그 */
 .attribute_selector p[class^='c']{
    color: red;
}
 /* p[class$='le'] le로 끝나는 클래스명을 가진 p태그 */
.attribute_selector p[class$='le']{
    font-size: 36px;
}
 /* p[class*='cl'] cl이 포함된 클래스명을 가진 p태그 */
.attribute_selector p[class*='cl']{
    font-style: italic;
}
/* ---------------------------------------------------- */
.max_box{
    width: 300px;
    height: 300px;
    background: red; /* 1025~ red */
}
@media (max-width:1024px){
    .max_box{background: yellow;} /* 769~1024 yellow */
}
@media (max-width:768px){
    .max_box{background: green;} /* 569~768 green */
}
@media (max-width:568px){
    .max_box{background: blue;} /* 0~568 blue */
}

.min_box{
    width: 300px;
    height: 300px;
    background: blue; /* 0~567 blue */
}
@media (min-width:568px){
    .min_box{background: green;} /* 568~767 green */
}
@media (min-width:768px){
    .min_box{background: yellow;} /* 768~1023 yellow */
}
@media (min-width:1024px){
    .min_box{background: red;} /* 1024~ red */
}
/* ---------------------------------------------------- */
.max_box2{
    width: 300px;
    height: 300px;
    background: #ee3535; /* 1024~ #ee3535 */
}
@media (max-width:1023px){
    .max_box2{background: #ffaa00;} /* 768~1023 #ffaa00 */
}
@media (max-width:767px){
    .max_box2{background: #00aaff;} /* 640~767 #00aaff */
}
@media (max-width:639px){
    .max_box2{background: #aa00ff;} /* 0~639 #aa00ff */
}
.min_box2{
    width: 300px;
    height: 300px;
    background: #aa00ff; /* 0~639 #aa00ff */
}
@media (min-width:640px){
    .min_box2{background: #00aaff;} /* 640~767 #00aaff */
}
@media (min-width:768px){
    .min_box2{background: #ffaa00;} /* 768~1023 #ffaa00 */
}
@media (min-width:1024px){
    .min_box2{background: #ee3535;} /* 1024~ #ee3535 */
}
/* ---------------------------------------------------- */
.max_box3{
    width: 600px;
    height: 400px;
    background: #ff9900;
}
@media (max-width:1023px){
    .max_box3{width: 400px;height: 200px;}
}
@media (max-width:767px){
    .max_box3{width: 300px;height: 300px;}
}
@media (max-width:639px){
    .max_box3{width: 200px;height: 200px;}
}
@media (max-width:319px){
    .max_box3{width: 300px;height: 300px;}
}
.min_box3{
    width: 300px;
    height: 300px;
    background: #ff9900;
}
@media (min-width:320px){
    .min_box3{width: 200px;height: 200px;}
}
@media (min-width:640px){
    .min_box3{width: 300px;height: 300px;}
}
@media (min-width:768px){
    .min_box3{width: 400px;height: 200px;}
}
@media (min-width:1024px){
    .min_box3{width: 600px;height: 400px;}
}
/* ---------------------------------------------------- */
/* inline-block(아래와 Markup이 달라!) */
.ex_03{font-size: 0;}
.ex_03 .bx{
    display: inline-block;
    vertical-align: top;
    width: calc(25% - 20px);
    height: auto;
    padding: 10px;
}
.ex_03 .bx div{
    width: 100%;
    height: 300px;
    background: #aaaaff;
}
@media (min-width:320px){
    .ex_03 .bx div{height: 100px;}
}
@media (min-width:640px){
    .ex_03 .bx div{height: 200px;}
}
@media (min-width:768px){
    .ex_03 .bx div{height: 400px;}
}
/* ---------------------------------------------------- */
/* float */
/* .ex_04{
    width: 100%;
    height: auto;
    padding: 20px 0;
    background: #aaffaa;
}
.ex_04:after{
    content: "";
    display: block;
    clear: both;
}
.ex_04 .bx{
    float: left;
    width: calc(25% - 20px);
    height: 300px;
    margin: 0 10px;
    background: #12ee12;
} */

/* inline-block */
.ex_04{
    width: 100%;
    height: auto;
    padding: 20px 0;
    background: #aaffaa;
    font-size: 0;
    text-align: center;
}
.ex_04 .bx{
    display: inline-block;
    vertical-align: top;
    width: calc(25% - 20px);
    height: 300px;
    margin: 0 10px;
    background: #12ee12;
}
@media (max-width:1023px){
    .ex_04 .bx{
        height: 400px;
    }
}
@media (max-width:767px){
    .ex_04 .bx{
        height: 200px;
    }
}
@media (max-width:639px){
    .ex_04 .bx{
        height: 100px;
    }
}
/* ---------------------------------------------------- */
.ex_05{
    width: 100%;
    height: auto;
    padding: 40px 0;
    background: #35aa99;
    color: #ffffff;
    text-align: center;
}
.ex_05 h3{
    font-size: 24px;
}
@media (max-width:1023px){
    .res_1023_none{display: none;}
}
@media (max-width:767px){
    .res_767_none{display: none;}
    .ex_05 h3{font-size: 18px;}
}